# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Editor / Codespaces
# ------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# ------------------------------
# Env / secrets
# ------------------------------
.env
.env.*

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Dependencies / virtual envs
# ------------------------------
node_modules/
venv/
.venv/

# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc

